Repository haqq-network/haqq, pull requests merged in 2022-08, with the labels that each got.

#37 fix(docs): kms guide updated
  docs/guides/kms/kms.md
Labels: documentation

#42 Add gh to flake.nix and test automerge
  README.md
  flake.nix
Labels: automerge

#50 fix(docs): links, description in join TestEdge guide updated. Common validator errors described.
  docs/.vuepress/config.js
  docs/guides/localnet/single_node.md
  docs/guides/validators/faq.md
  docs/guides/validators/overview.md
  docs/guides/validators/setup.md
  docs/testnet/join.md
  docs/testnet/join_full.md
Labels: documentation, Type: Docs, automerge

#54 fix(docs): firewall and security recommendations
  docs/guides/validators/checklist.md
  docs/testnet/join.md
  docs/testnet/join_full.md
Labels: documentation, Type: Docs, automerge
