Repository haqq-network/haqq, pull requests merged in 2022-09, with the labels that each got.

#55 fix(docs): updated security guide for node
  docs/guides/validators/checklist.md
  docs/guides/validators/security_best_practices.md
  docs/guides/validators/setup.md
  docs/testnet/join.md
  docs/testnet/join_full.md
Labels: documentation, Type: Docs, automerge

#60 fix(docs): fixed navigation in testedge guide
  docs/testnet/join.md
Labels: documentation, Type: Docs, automerge

#56 fix(docs): security practices guide updated
  docs/guides/validators/checklist.md
  docs/guides/validators/security_best_practices.md
Labels: documentation, Type: Docs, automerge

#70 Update explorers.md
  docs/tools/explorers.md
Labels: automerge

#68 Update join.md
  docs/testnet/join.md
Labels: automerge

#67 fix(docs): create validator setup.md
  docs/guides/validators/setup.md
Labels: automerge

#66 fix(docs): validator checklist updated
  docs/guides/validators/checklist.md
Labels: documentation, Type: Docs, automerge

#75 [v1.1.0] Upgrade Evmos deps v7
  .github/workflows/build.yml
  .github/workflows/goreleaser.yml
  .github/workflows/lint.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  .golangci.yml
  CONTRIBUTING.md
  Makefile
  app/app.go
  app/app_test.go
  app/export.go
  app/haqq_ante.go
  app/haqq_ante_test.go
  app/sigverify.go
  app/sigverify_test.go
  app/test_helpers.go
  app/upgrades/v1.0.2/upgrades.go
  client/docs/statik/init.go
  cmd/config/config.go
  cmd/config/observability.go
  cmd/haqqd/genaccounts.go
  cmd/haqqd/root.go
  cmd/haqqd/testnet.go
  docs/.vuepress/config.js
  docs/README.md
  docs/api/json-rpc/endpoints.md
  docs/basics/accounts.md
  docs/basics/gas.md
  docs/guides/upgrades/upgrade_node.md
  docs/intro/use_cases.md
  docs/pre.sh
  flake.nix
  go.mod
  go.sum
  testutil/network/network.go
  testutil/network/network_test.go
  third_party/proto/buf.yaml
  third_party/proto/ethermint/crypto/v1/ethsecp256k1/keys.proto
  third_party/proto/ethermint/evm/v1/evm.proto
  third_party/proto/ethermint/evm/v1/genesis.proto
  third_party/proto/ethermint/evm/v1/query.proto
  third_party/proto/ethermint/evm/v1/tx.proto
  third_party/proto/ethermint/feemarket/v1/feemarket.proto
  third_party/proto/ethermint/feemarket/v1/genesis.proto
  third_party/proto/ethermint/feemarket/v1/query.proto
  third_party/proto/ethermint/types/v1/account.proto
  third_party/proto/ethermint/types/v1/web3.proto
  x/bank/haqq_burn_coins_gov_test.go
  x/erc20/erc20_transaction_test.go
  x/gov/proposal_send_test.go
Labels: Type: Build, Type: CI, Type: Docs, automerge, C:Proto, C:CLI
